/* Carousel container styles */
.image-div {
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: -20px;
}

.slick-dots {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: -20px;
  padding: 20px 0;
}
.slick-track {
  background-color: none;
  height: 700px;
}

.slick-arrow {
  height: 100px;
  margin: 0px 50px;
  z-index: 2;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
/* Carousel image styles */
.carousel-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border: none;
}

/* Overlay that stays fixed on top of all carousel images */
.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensures it's above the slider */
}

.carousel-content {
  text-align: center;
  color: white;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
}

.carousel-text {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.view-more-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.view-more-btn :hover {
  color: white;
}

/* Slick Dots and custom paging for the dots inside carousel */
.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.slick-dots li button:before {
  color: #fff;
  background-color: transparent;
  font-size: 20px;
}

.slick-dots li.slick-active button:before {
  color: #4caf50;
}

.carousel-dot {
  text-align: center;
}

.dot-text {
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 540px) {
  .image-div {
    height: 400px;
  }

  .carousel-image {
    min-height: 500px;
  }
  .slick-dots {
    position: unset;
    transform: translateY(-405%);
  }

  .slick-arrow {
    margin-top: -120px;
  }

  .carousel-overlay {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensures it's above the slider */
  }
}
